h3 {
    font-family: Roboto;
    letter-spacing: 1px;
    font-size: var(--fs-testo);
}

.domanda,.domanda__risposte ul li {
    font-family: Roboto;
    letter-spacing: 1px;
    font-size: var(--fs-testo);
    color: var(--clr-sfondo);
    background-color: var(--clr-testo);
}

.domanda--riquadro {
    margin: 1em 0;
    border-radius: 12px;
    padding: 1em 3em;
}


.domanda__risposte ul {
    list-style: upper-alpha;
    cursor: pointer;
}

.domanda__risposte {
    line-height: 0.5;
    width: 50%;
    margin: 0 auto;
}

.giusta {
    background-color: green !important;
}

.sbagliata {
    background-color: red !important;
}

@media screen and (max-width: 600px) {
    h3 {
        font-size: var(--mb-fstesto);
    }

    .domanda,.domanda__risposte ul li {
        font-size: var(--mb-fstesto);
    }
    
    .domanda--riquadro {
        border-radius: 6px;
        padding: 1em 0.6em;
    }

    .domanda__risposte {
        width: 90%;
    }
}