h2{
    font-size: var(--fs-domanda);
    color: var(--clr-sfumato);
}

.materie{
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    width: 80%;
    margin: 1em auto;

}

.materie--large{
    width: 35%;
}

@media screen and (max-width: 600px) {
    .materie--large {
        width: 50%;
    } 
}